@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: #E5E5E5;
  height: 100vh;
}

.container {
  background-color: white;
  width: 550px;
  height: 704px;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
}

.header {
  background-color: #F55A5A;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: white;
}

.header i{
  margin-right: 5px;
  margin-top: 3px;
  font-size: 20px;
  vertical-align: middle;
}

.log {
  display: flex;
  padding: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.location--maps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.logs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* overflow: scroll;
  overflow-x: hidden; */
}

.location--image {
  width: 125px;
  height: 168px;
}

.location--description {
  font-size: 10.24px;
  line-height: 150%;
}

.location--date {
  font-size: 10.24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.location--place {
  font-size: 20px;
  margin-bottom: 15px;
}

.location--country {
  font-size: 10.24px;
  margin-right: 15px;
}

.location--icon {
  width: 7px;
  margin-right: 2px;
}

.location--maps a {
  color: #918E9B;
  font-size: 10.24px;
}

.location--country,
.location--place,
.location--date,
.location--description {
  color: #2B283A;
}


